SEEDCRM_MYSQL_DATABASE=seedcrm
SEEDCRM_MYSQL_USERNAME=seedcrm
SEEDCRM_MYSQL_PASSWORD=change_me_seedcrm
SEEDCRM_MYSQL_ROOT_PASSWORD=change_me_root
SEEDCRM_MYSQL_PORT=3306

SEEDCRM_SYSTEM_BASE_URL=http://your-server-ip:8003
SEEDCRM_API_BASE_URL=http://your-server-ip:8004
SEEDCRM_SERVER_PORT=8004
SEEDCRM_OPENAPI_ENABLED=false
SEEDCRM_OPENAPI_ALLOW_LOCAL_WITHOUT_TOKEN=false
SEEDCRM_ALLOW_CLEAR_TEST_DATA=false

SEEDCRM_FRONTEND_PORT=8003
SEEDCRM_BACKEND_PORT=8004
